{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Beach-Level 1</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/cssFramework.css' %}">
  <script src="{% static '/js/main.js' %}"></script>
</head>
<body>
  <div class="section-home wf-section">
    <div class="navbar-main">
      <div class="logo"><img src="{% static '/images/logo.png' %}" loading="lazy" width="157" sizes="(max-width: 479px) 36vw, 157px" srcset="images/logo_breathify-1-p-500.png 500w, images/logo_breathify-1-p-800.png 800w, images/logo_breathify-1-p-1080.png 1080w, images/logo_breathify-1-p-1600.png 1600w, images/logo_breathify-1.png 1649w" alt=""></div>
      <div class="nav-my-account">
        <div class="nav-right-text">
			<h4 class="heading">Hello, {{request.user}} <a href="{% url 'signout' %}">Logout</a></p>
        </div>
        <div class="my-account-icon"><img src="{% static 'images/abstract-user-flat-1.svg' %}" loading="lazy" width="49" alt=""></div>
      </div>
    </div>
    <div class="container-mainpage">
      <div class="main-page-left">
        <div class="main-level-box">
          <h1 class="level-head">Level 1</h1>
          <div class="level-sub-head-1">The Beach</div>
        </div>
        <div class="steps-box">
          <h1 class="heading-steps">Steps</h1>
          <div class="task">Inhale through nose</div>
          <div class="task">Hold 3 sec</div>
          <div class="task">Exhale through mouth</div>
          <div class="task">Inhale through nose</div>
          <div class="task">Hold 5 sec</div>
          <div class="task">Exhale through mouth</div>
          <div class="task">Inhale through nose</div>
        </div>
      </div>
      <div class="main-stage"></div>
      <div class="main-page-right">
        <div class="main-level-box">
          <div class="level-sub-scores">SCORES</div>
          <h1 class="level-score">000</h1>
        </div>
        <div class="benefits-box">
          <h1 class="heading-steps">Benefits</h1>
          <div class="task">Inhale through nose</div>
          <div class="task">Inhale through nose</div>
          <div class="task">Inhale through nose</div>
          <div class="task">Inhale through nose</div>
          <div class="task">Inhale through nose</div>
          <div class="task">Inhale through nose</div>
          <div class="task">Inhale through nose</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



