{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Blue Mountains - Level 2</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/cssFramework.css' %}">
    <script src="{% static '/js/main.js' %}"></script>
</head>

<body>
    <div class="section-home wf-section" style="background-image: url('/static/images/2774583.jpg');
    ">
        <div class="navbar-main" style="background-color: #4c5f7f;">
            <div class="logo"><img src="{% static '/images/logo.png' %}" loading="lazy" width="222"
                    sizes="(max-width: 479px) 122px, (max-width: 767px) 25vw, 22vw" alt="" class="logo-login"></div>
            <div class="nav-my-account">
                <div class="nav-right-text">
                    <h4 class="heading">Hello, {{request.user}} <a href="{% url 'signout' %}">Logout</a></p>
                </div>
                <div class="my-account-icon"><img src="{% static 'images/abstract-user-flat-1.svg' %}" loading="lazy"
                        width="49" alt=""></div>
            </div>
        </div>
        <div class="container-mainpage">
            <div class="main-page-left">
                <div class="main-level-box" style="background-color: rgba(35, 54, 83, 0.67);">
                    <h1 class="level-head">Level 1</h1>
                    <div class="level-sub-head-1">The Beach</div>
                </div>
                <div class="steps-box" style="background-color: rgba(103, 129, 177, 0.67);">
                    <h1 class="heading-steps">Steps</h1>

                </div>
            </div>
            <div class="main-stage"></div>
            <div class="main-page-right">
                <div class="main-level-box" style="background-color: rgba(35, 54, 83, 0.67);">
                    <div class="level-sub-scores">SCORES</div>
                    <h1 class="level-score">000</h1>
                </div>
                <div class="benefits-box" style="background-color: rgba(103, 129, 177, 0.67);">
                    <h1 class="heading-steps">Benefits</h1>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
