{% load static %}
<div class="navbar-main" style="background-color: #000;">
    <a href="{% url 'home' %}">
        <div class="logo"><img src="{% static '/images/logo.png' %}" loading="lazy" width="222"
                sizes="(max-width: 479px) 122px, (max-width: 767px) 25vw, 22vw" alt="" class="logo-login"
                style="margin-top: 2%;">
        </div>
    </a>
    <div class="nav-my-account">
        <div class="nav-right-text">
            <h4 class="heading" id=>Hello, <span id="userID">{{request.user}}</span> <a
                    href="{% url 'signout' %}">Logout</a></p>
        </div>

        <a href="{% url 'profile' %}">
            <div class="my-account-icon">
                <img src="{% static 'images/abstract-user-flat-1.svg' %}" loading="lazy" width="49" alt="">
            </div>
        </a>
    </div>
</div>