{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta property="og:url" content="https://www.your-domain.com/your-page.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Website Title" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg" />
    <title>Dark Forest - Level 4</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/cssFramework.css' %}">
    <script src="{% static '/js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

</head>

<body>
    <div class="section-home wf-section" style="background-image: url('/static/images/4.jpg');
    ">
        {% include 'appone/navbar.html' %}
        <div class="container-mainpage">
            <div class="activity-main-box">
                <div class="activity-header">
                    <div class="activity-profile-box"><img src="{% static 'images/user.png' %}" loading="lazy"
                            height="120px" alt="" class="profile-image">
                        <div class="name-box">
                            <h1 class="profile-name">{{user}}</h1>
                            <div class="player-level">Beginner</div>
                        </div>
                    </div>
                    <div class="activity-more-info-box">
                        <div class="email-box">
                            <div class="email-text">{{email}}</div>
                        </div>
                        <div class="dob-box">
                            <div class="email-text">{{first}} {{last}}</div>
                        </div>

                    </div>
                </div>
                <div class="activity-inner-box">
                    <div class="activity-head-points">
                        <h1 class="activity-head">Activity</h1>
                        <div class="point-box">
                            <div class="point-text">Total Points</div>
                            <div class="point">{{totalPoints}}</div>
                        </div>
                        <div class="fb-share-button" style="margin-left: 20px;"
                            data-href="https://www.your-domain.com/your-page.html" data-layout="button_count">
                        </div>
                    </div>
                    <div class="list-head-box">
                        <div class="no-box">
                            <div class="list-head-text">Date</div>
                        </div>
                        <div class="activity-name-box">
                            <div class="list-head-text">Activity Name</div>
                        </div>
                        <div class="points-earned-box">
                            <div class="list-head-text">Points Earned</div>
                        </div>
                    </div>
                    {% for activity in activitys %}
                    <div class="div-block-26">
                        <div class="no-box">
                            <div class="no-text">{{activity.date}}</div>
                        </div>
                        <div class="activity-name-box">
                            <div class="actvity-name-text">{{activity.game_level}}</div>
                        </div>
                        <div class="points-earned-box">
                            <div class="points-earned-text">{{activity.activity_points}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>