<h2>Registraion</h2>

<form method="POST" action="">
    {% csrf_token %}
    <div>
    {{form.username.label}}
    {{form.username}} 
    </div>

    <div>
    {{form.email.label}}
    {{form.email}}
   </div>

   <div>
    {{form.password1.label}}
    {{form.password1}}
   </div>  
   <div>
    {{form.password2.label}}
    {{form.password2}}
   </div>
    <input type="submit" name="Create User">
    <div>{{form.errors}}</div>
    <div><p>Already registered? <a href="{% url 'signin' %}">Login here</a></p></div>
</form>